.image {
  height: 80vh;
  position: absolute;
  z-index: -1;
  height: 80vh;
  left: 50%;
  transform: translateX(-50%);
  animation: .6s cubic-bezier(0, 0.28, 0.57, 1.46) imageIn;
}

.boxInstructions {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  perspective: 400px;
}

.instructions{
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 500%;
  color: #454545;
  font-family: arial;
  text-align: center;
}

/**  TEST ANIMATIONS
***********************************************/
.slideTopIn {
  animation: .6s ease slideTopIn;
}

.zoomIn {
  animation: .6s ease zoomIn;
}

.rotateIn {
  animation: .6s ease rotateIn;
}

.rotate3DIn {
  animation: .6s ease rotate3DIn;
}

.Seconds {
  font-size: 50px;
  position: absolute;
  top: 5%;
  left: 10px;
  opacity: 0.3;
}

@keyframes slideTopIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(20deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes rotate3DIn {
  0% {
    opacity: 0;
    transform: rotateY(71deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes imageIn {
  0% {
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) scale(.1);
    // transform: scale(.1);
  }
  100% {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%) scale(1);
    // transform: scale(.1);
    // transform: scale(1);
  }
}

.PlayButton {
  cursor: pointer;
  position: relative;
  z-index: 999;
  width: 100px;
  height: 100px;
  opacity: 0.1;
  float: right;
  margin: 20px;
}


.PlayButton__play {
  background: url('/assets/img/trik/play.svg')
}

.PlayButton__pause {
  background: url('/assets/img/trik/pause.svg')
}
